/*========================================
     Teal Skin with Stars by tealtiam
     Violet Version by EmoStranger
========================================*/
/*========================================
     HEX COLOR GUIDE: Violet & Purple
==========================================
Use Ctrl+F/Find tool to search for the
colors to the coded groups below:
==========================================
>Header Background
	Dark Purple:  #201925

>Link(s)
	Violet:		  #ba55d3

>Visited Link(s)
	Amethyst:	  #ad34cb

>Purple Buttons
	Plum Purple:  #2d1f33

>Dark Buttons
	Dark Gray:	  #2c2d31

>Blurb Outline
	Violet:		  #ba55d3

>Works Blurb Background & Footer
	Purple:		  #331d3d

>Tag Star Symbol Color
	Yellow:		  #d9d073

>Color Coded Tags
	warning:      #b1050a; red
    relationship: #ffd700; gold
    character:    #528fbe; blue
	additional:   #008000; green

========================================*/
/*========================================
     	  CSS Codes Down Below 
========================================*/
/* site and work text size */
body {
  font-size: 100% !important;
}

.userstuff p {
  font-size: 100% !important;
}

/* cursor highlight */
::selection {
  background-color: #ba55d3; /* change the color of the highlight here */
  color: #331d3d; /* change the text color when highlighted here */
}

/*======= scroll bar on web browser =======*/

/* width of scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
  background: #331d3d; /* change the color of the track of the scrollbar here */
}

/* scrollbar */
::-webkit-scrollbar-thumb {
  background: #ba55d3; /* change the color of the scrollbar here */
}

/*======= SITE BODY and WORKS =======*/ 

/* main body background image on site & works */
#main {
  background: url(https://images.squidge.org/images/2025/09/03/IMG_4067.png);
}

/* white stars raining on the top of any works */
#workskin {
  background: url(https://images.squidge.org/images/2025/08/03/tumblr_52b59ff9d2ebb288ac5cf797c77f01b1_c6e20708_640.gif); /* url of work banner here */
  background-repeat: repeat-x;
  background-position: top;
  background-color: #2019254f;
}

#workskin img {
  border-radius: 1rem;
}

#workskin img {
  max-width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li.comment,
.thread .even {
  border-radius: .75em;
  border: 1px solid #ba55d3;
  padding: 10px;
  background: #2019254f;
}

li.comment,
.thread .odd {
  border-radius: .75em;
  border: 1px solid #ba55d3;
  padding: 10px;
  background: #2019254f;
}

li.comment {
  border-radius: .75em;
  border: 1px solid #ba55d3;
  padding: 10px;
  background: #2019254f;
}

.btn:hover,
input[type="submit"]:hover,
.actions li input[type="submit"]:hover,
.actions .current:hover {
  color: #eee !important;
  background: #331d3d !important;
}

.actions a:hover,
.actions li .current a:hover {
  background: #331d3d !important;
  background-image: none;
  color: #eee !important;
}

.splash .favorite li:nth-of-type(2n+1) a {
  background: #201925;
}

.splash .favorite li:nth-of-type(2n+1) a {
  background: #331d3d;
}

body {
  background: #331d3d !important;
}

/* transition when cursor hovers over icon images and tags */
a {
  transition: 0.2s ease-in-out !important; /* change the seconds for transition speed here */
}

/* font for site buttons (including login/out & search), tags, site text, works text, search text, tier 2 dropdown (Sort and Filters), blurb stats, announcement, footer links */
body,
th,
tr:hover,
col.name,
form blockquote.userstuff,
input:focus,
input,
select:focus,
select,
textarea:focus,
textarea,
.autocomplete div.dropdown ul,
#ui-datepicker-div,
#ibox_wrapper,
#ibox_content,
.toggled form,
.dynamic form,
.secondary,
.listbox .index,
.dashboard .listbox .index,
.nomination dt {
  background: #201925;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, sans-serif, 'GNU Unifont'; /* change the font text of site, works, tags, buttons, etc. here */
  color: #eeeeee; /* change the color of the font here */
}

#outer.wrapper {
  background-color: #201925 !important;
}

.bookmark .count a {
  color: #201925 !important;
}

.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash {
  color: #eee;
  background-color: #ce4c4c;
  border: none;
  box-shadow: none;
  margin-top: 10px !important;
}

#header .search input[type="text"],
#header .search input[type="text"]:focus {
  color: #eeeeee !important;
}

#header .logo {
  display: none;
}

.home .header h2 {
  border-bottom: 0px;
}

.subscription dd {
  background-color: transparent !important;
}

form dd.required {
  color: #eeeeee;
}

.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite a:hover {
  color: #331d3d;
  background-color: #eeeeee;
}

#dashboard .actions a,
#dashboard .actions a:visited {
  color: #eeeeee !important;
}

/* content work symbol container */
.blurb ul.required-tags {
  background: #331d3d !important; /* change the background color here */
}

.filters dl {
  background: #331d3d;
}

#dashboard .actions .current {
  color: #eeeeee !important;
  background: #201925;
}

.announcement .userstuff h2 {
  margin-top: 10px;
  color: #201925;
}

fieldset fieldset,
fieldset dl dl,
.fieldset,
fieldset {
  border-radius: 0.75em;
  background: #201925;
}

#header .user a,
#header .user a:visited {
  margin: 2px;
  color: #eeeeee !important;
  padding: 0.6em 0.75em;
}

.picture .header {
  border: none;
}

li.comment,
.thread .even {
  border-radius: 0.75em;
}

.bookmark div.user {
  border-radius: 0.5em;
}

.blurb .header .heading {
  background: transparent !important;
}

.blurb .stats {
  color: #f7f7f7;
}

.module .heading h4,
.module .heading h5,
h5.module .fandoms .heading,
.meta .stats,
.meta .stats dl dt,
.meta .stats dl dd,
.dashboard .own .work {
  background: transparent !important;
}

h5.heading,
.user .datetime,
.bookmark .user .userstuff,
.bookmark .user .meta {
  margin: 10px;
}

.reading h4.viewed {
  background: #331d3d;
  border: 1px solid #eeeeee;
  padding: 0.5em;
  border-radius: 0.25em;
}

.posted {
  font-size: 0.8em;
}

#header .menu,
#header .menu li a:link,
#header .menu li a:visited {
  border-radius: 0.75em;
  background: #331d3d !important;
  color: #eeeeee !important;
  border: none;
}

#header .menu li a:hover,
#header .dropdown:hover a {
  color: #eeeeee !important;
  background: #201925 !important;
}

#header .menu,
#small_login {
  box-sizing: border-box;
}

/* button for Sort and Filter */
.filters .submit input {
  height: 100%;
  margin: 1em 0;
  min-height: 1.286em;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  color: #eeeeee; /* change the color of the font here */
  background: #2b2a36; /* change the background color of the button here */
}

#header #search>* {
  width: 70%;
  white-space: nowrap;
  margin-right: 60px;
}

form.verbose legend,
.verbose form legend {
  height: auto;
  width: auto;
  font-size: 75%;
  background: #ba55d3;
  color: #201925;
  border: none;
  padding: 0.5em;
  box-shadow: none;
  opacity: 1;
  margin: 10px;
  border-radius: 0.5em;
}

.actions input[type="text"],
.actions input[type="text"]:focus,
.textarea,
.autocomplete input,
form.search input[type="text"],
form.search input[type="text"]:focus,
li.search fieldset,
.search input[type="text"],
.search input[type="text"]:focus {
  color: #9e9e9e;
  background: #201925;
  border: 1px solid #eeeeee;
  border-radius: 0.25em;
  box-shadow: none;
  font: 90%;
  padding: 5px;
  width: 90%;
  -webkit-appearance: none;
}

.input,
.highlighted {
  border: none;
}

.filters input:checked+.indicator+span {
  text-decoration: underline;
  font-weight: normal;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .menu,
#small_login,
#header .dropdown:hover .current+.menu,
.actions a,
.actions a:link,
.actions a:active,
.actions a:visited,
.current span,
.current,
a.current,
.actions .current,
.current,
.current a:visited,
.current a:link,
#dashboard .current,
.actions a:active,
span.unread,
.replied,
span.claimed,
.own,
.unread,
.child,
.unwrangled,
.unreviewed {
  color: #ba55d3;
  border: 2px solid #ba55d3;
  background-image: none;
  border-radius: 0.25em;
  box-shadow: none;
}

dl.index dd {
  color: #eeeeee;
}

.draft,
.draft .wrapper {
  color: #eeeeee;
}

#header h2,
#footer ul,
#footer ul.navigation a,
.autocomplete .dropdown ul li:hover,
li.selected,
a.tag:hover {
  color: #201925;
}

a.tag:hover,
.listbox .heading a.tag:visited:hover {
  background: #ba55d3 !important;
}

tbody tr,
thead td,
#header #small_login,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
form dt,
.actions a:active,
.current,
a.current,
.current a:visited,
.search span.tip {
  border-color: #331d3d;
}

/* Headers (Find Your Favorites, Is It Later Already?, Follow Us), Guest Names, Posted Datetime */
.heading a,
.userstuff,
.heading,
#heading h3,
.splash .module h3 {
  color: #eeeeee; /* change color of the font here */
}

.listbox>.heading {
  color: #eeeeee;
  padding: 10px;
  padding-left: 15px;
}

.listbox .index {
  background: #331d3d;
}

a.tag {
  border-bottom: none;
  border-radius: 8px;
  padding: 3px;
}

/* buttons for Entire Work, Next Chapter, Bookmark, Page Numbers, Glossary, etc. */
.actions a,
.actions a:link,
.actions a:visited,
.current,
a.current,
.current a:visited,
.current a:link {
  color: #eeeeee !important; /* change the color of the font here */
  background: #2d1f33; /* change the background color of the buttons here */
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: 0.25em;
  box-shadow: none;
}

.listbox {
  border: none;
  border-radius: 0.5em;
}

.actions a:hover,
.actions li .current a:hover {
  background: #2b2a36;
  color: #eeeeee !important;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: 0.25em;
  box-shadow: none;
}

.action.top,
.action a:link {
  color: #eeeeee;
  height: auto;
  font-weight: bolder;
  padding: 0.2em;
}

.actions a:visited,
.action:visited,
.action a:link,
.action a:visited {
  color: #ba55d3;
}

.splash .module h3 {
  border-bottom: none;
  font-variant: small-caps;
  font-size: 1.914em;
}

form .notice,
form ul.notes {
  box-shadow: none;
}

.actions a,
.action,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
li.relationships,
li.relationships a,
.thread .even,
.preface h3 {
  background-color: transparent;
}

a:hover,
.splash .browse a:hover {
  color: #ba55d3;
}

#login-block,
li.blurb,
fieldset,
form dl,
#dashboard ul.navigation,
#dashboard ul,
#symbols-key dl,
.toggled form,
.dynamic form,
div.comment,
li.comment,
.comment div.icon,
.autocomplete div.dropdown ul,
#modal,
.bookmark p.count span,
.ui-sortable li:hover,
.actions a:hover,
.actions input:hover,
.userstuff blockquote {
  border-color: #331d3d;
}

fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff {
  box-shadow: none;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .menu,
#small_login,
#header .dropdown:hover .current+.menu,
#dashboard .current,
.actions a:active,
.current,
a.current,
.current a:visited,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .wrapper,
.unread,
.child,
.unwrangled,
.unreviewed {
  background: #331d3d;
}

#bookmark-form {
  background: #331d3d;
}

#dashboard.own,
#dashboard .secondary,
#dashboard ul.navigation {
  background: #331d3d !important;
}

#dashboard.own {
  border-top: none;
  border-bottom: none;
}

#dashboard ul {
  padding: 5px 0;
}

.actions a,
.action,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
a.cloud4,
a.cloud5 {
  color: #eeeeee;
}

/* highlighted links after visiting once */
a:visited,
a.cloud6 {
  color: #ad34cb; /* change the color of the link here */
}

/* blurbs (works, dashboard statistics, profile, tag sets), top button, selection button, input text boxes (comments, HTML, Work Titles, etc.) */
thead,
tfoot,
tfoot td,
th,
tr:hover,
col.name,
input,
textarea,
#modal .content,
.actions a,
.action,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
span.unread,
.replied,
span.claimed,
.system .latest h3,
.system div.news h3,
.listbox,
fieldset fieldset.listbox,
dl.meta,
#dashboard.own,
.picture .header,
.bookmark .user {
  border-color: #ba55d3; /* change the color of the border here */
  background: #201925; /* change the color of the background here */
  border-radius: 5px;
}

/* blurbs background color */
li.blurb {
  border-radius: 0.75em;
  background: #331d3d; /* change the color of the background here */
  border: none;
}

/* colored brackets on blurbs (except Recent works and bookmarks) */
li.blurb,
.blurb .blurb,
.listbox .index,
.dashboard .listbox .index {
  box-shadow: 3px 0px 0px #d9d073,/* change right side color here */ -3px 0px 0px #d9d073; /* change left side color here */
  box-sizing: border-box;
  padding: 10px;
}

/* header image */
#header ul.primary {
  box-shadow: none;
  padding: 1em;
  color: #ba55d3;
  background: url(https://images.squidge.org/images/2025/08/04/IMG_3283.png); /* url image here */
  background-position-y: -100px;
  background-position-x: 350px;
  background-attachment: fixed;
  background-blend-mode: luminosity;
}

#header .dropdown a {
  background: #201925;
  border-radius: 5px;
  margin-right: 10px;
  padding: 8px;
}

/* Fandoms, Browse, Search, and About (Dropdowns), plus greeting and Post */
#header .dropdown,
#header .dropdown a,
#header .dropdown a:hover {
  color: #ba55d3 !important; /* change the color of the font here */
}

#header .dropdown .menu a {
  background: transparent;
  display: block;
  padding: 0.75em 0.5em 0.5em;
  margin: 0px;
}

#header .dropdown .menu .current {
  background-color: #eeeeee;
  color: #331d3d;
}

.autocomplete div.dropdown ul {
  border: 1px solid #eeeeee;
  border-radius: 0.5em;
}

table,
thead td,
#header #small_login,
#dashboard a:hover,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme {
  background: #331d3d;
}

form blockquote.userstuff,
.ui-sortable li:hover,
.listbox,
fieldset fieldset.listbox,
.readings-index h3,
.search span.tip,
.flash,
.notice,
.error,
.comment_error {
  background: #331d3d;
  color: #eeeeee;
}

div.comment,
li.comment {
  position: relative;
  border: 1px solid #dddddd00;
  overflow: visible;
  text-align: start;
}

.comment h4.byline {
  background: transparent;
}

body,
#main.error,
#main.slow,
#main.maintenance,
.required .autocomplete,
.autocomplete .notice,
.post .required .warnings,
.listbox .heading,
.listbox .heading a:visited,
.userstuff h2,
.userstuff caption,
.userstuff table,
.userstuff td,
.userstuff col,
.userstuff tr,
.userstuff thead,
.userstuff tfoot,
.userstuff tbody,
.userstuff th,
.userstuff thead td,
.userstuff th a,
.userstuff th a:link,
a.cloud3 {
  color: #eeeeee;
}

.draft {
  border-color: #eeeeee;
}

.actions a,
.action,
.action:link,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
span.unread,
.replied,
span.claimed {
  border-bottom-color: #eeeeee;
}

.ui-sortable li:hover,
.secondary,
.wrapper,
.ui-draggable form {
  box-shadow: none;
}

.ui-sortable li {
  background: #eeeeee12;
  border: 2px solid #ddd;
  float: left;
  width: 100%;
  clear: both;
  box-shadow: 1px 1px 3px transparent;
}

#header #small_login {
  box-shadow: none;
}

.delete a,
span.delete {
  box-shadow: none;
}

#header .primary .menu a {
  padding: 0.75em 0.5em 0.5em;
  margin: 0px;
}

#header .primary .menu .current {
  color: #00273d !important;
}

a,
a:link,
a:visited:hover,
#dashboard a,
#dashboard span,
.autocomplete div.dropdown ul,
.actions a:visited,
.actions a:active,
.current,
a.current,
.current a:visited,
a.tag,
.tags a,
a.cloud1,
a.cloud2 {
  border-bottom: none;
  color: #ba55d3;
}

.userstuff h3,
#header .primary a,
#header .primary .current,
#header .primary input,
#header .search input {
  border-color: #00273d;
}

.userstuff h3 {
  border-bottom: 0px;
  font-size: 1.8em;
}

.userstuff h2 {
  font-size: 2em;
}

.actions a:active,
.action:hover,
.current,
a.current,
.current a:visited {
  box-shadow: none;
}

a.tag:hover {
  color: #fff !important;
  background: #ba55d3;
}

.autocomplete .dropdown ul li:hover,
li.selected {
  background: #eeeeee;
}

/* Post Works (Rating, Archive Warning, Fandoms, Work Titles, Language Selection), AO3 Title Header, News Header, Unread Messages Header, popular tags, tag set title, work titles, authors, Edit Skin (Title, Type) */
#header #greeting img,
#header .heading a,
#header fieldset,
#header form,
#header p,
#header .user a:hover,
#header .user a:focus,
#header .user .current,
#dashboard a:hover,
.actions a:hover,
.actions input:hover,
.delete a,
span.delete,
span.unread,
.replied,
span.claimed,
.draggable,
.droppable,
span.requested,
a.work,
.blurb h4 a:link,
.blurb h4 img,
.system .latest h3,
.system div.news h3,
.system .tweets h3,
.required,
.error,
a.cloud7,
a.cloud8 {
  color: #eeeeee; /* change color of text here */
}

#outer #header #greeting .icon,
.error,
.comment_error,
.LV_invalid,
.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active,
#header .primary a,
#header .primary .current,
#header .primary input,
#header .search input {
  border-color: #eeeeee;
}

#dashboard a,
.unread,
#dashboard span,
#dashboard.own,
fieldset dl,
fieldset.actions,
fieldset dl fieldset dl,
.dynamic form fieldset,
.toggled form fieldset,
.toggled form dl,
.secondary .toggled form,
.dashboard .own,
.mods li,
dl.stats dt,
.blurb .header .heading,
.blurb .header ul,
.blurb .header p.status,
fieldset.comments,
.userstuff table,
.userstuff td,
.userstuff col,
.userstuff tr,
.userstuff thead,
.userstuff tfoot,
.userstuff tbody,
.userstuff th,
.userstuff thead td,
.userstuff th a,
.userstuff th a:link {
  background: #201925;
}

fieldset dl,
fieldset.actions,
fieldset dl fieldset dl,
.dynamic form fieldset,
.toggled form fieldset,
.toggled form dl,
.secondary .toggled form,
.actions a,
.action,
.actions input,
.action:link input[type="submit"],
button,
.current,
.actions label,
#outer.wrapper,
#inner.wrapper,
dl.index,
dl.stats,
.listbox,
fieldset fieldset.listbox,
.listbox li.blurb,
fieldset.comments,
dl.nomination {
  box-shadow: none;
}

h2,
.system p#signup,
#header h2 {
  text-shadow: none;
}

#header h2 {
  background: #ba55d3;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.dashboard .listbox {
  border: 1px solid #ba55d3;
}

.comment fieldset {
  border: 0px;
}

/* user icon next to greeting on header */
#greeting img.icon {
  border-radius: 2em;
  height: 2.5em;
  width: 2.5em;
}

/* user icon on dashboard and comments*/
.primary .icon,
.icon {
  border-radius: 30px;
  height: 7em;
  width: 7em;
  transition: 0.2s;
}

.icon:hover {
  border-radius: 10px;
}

.picture .icon img {
  border-radius: 31px;
}

.comment div.icon {
  border-bottom: 0px;
}

span.symbol {
  color: #eeeeee;
  background: #201925;
  border: 1px solid;
  vertical-align: super;
  border-radius: 0.75em;
  box-shadow: none;
}

.notice {
  border: 1px solid #eeeeee;
  color: #eeeeee;
  background: #201925;
  box-shadow: none;
}

#modal-bg {
  background: #eeeeee;
}

#modal .footer {
  bottom: 0;
  height: 44px;
  left: 0;
  line-height: 44px;
  padding: 0 0.6432em;
  right: 0;
  position: absolute;
  color: #201925;
}

/* symbol in front of tags *//* https://www.toptal.com/designers/htmlarrows/symbols/ for the list symbol codes */
.characters a:before,
.relationships a:before,
.freeforms a:before,
.tags a:before {
  color: #d9d073; /* change the color of the symbol here */
  content: "\2726"; /* change the symbol on the tags here */
  padding: 0 0.25em 0 0;
}

/* symbol in front of fandom category */
.splash .browse li a:before {
  color: #eeeeee;
  content: "\2726";
  padding: 0 0.25em 0 0;
}

/* buttons for the Search, Kudos, Comment (Submission), Subscribe, Use buttons */
.btn,
input[type="submit"],
.actions li a,
.actions li input,
.actions li input[type="submit"],
.actions li .current,
.actions li label,
.action:link {
  color: #eeeeee; /* change the color of the font here */
  background: #2b2a36; /* change the background color of the button here */
  border: none !important;
  border-bottom: none;
  background-image: none;
  border-radius: 0.25em;
  box-shadow: none;
}

input[type="submit"],
input[type="submit"]:hover {
  border: none;
}

.btn:hover,
input[type="submit"]:hover,
.actions li input[type="submit"]:hover,
.actions .current:hover {
  color: #eeeeee;
  background: #2b2a36;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: 0.25em;
  box-shadow: none;
}

.tags input[type="radio"],
.filters [type="radio"]+.indicator::before,
.filters [type="radio"]+.indicator::before {
  color: #eeeeee;
  background: #201925;
  border: 1px solid #eeeeee;
  border-radius: 1em;
  box-shadow: none;
}

.filters [type="radio"]:checked+.indicator::after,
.filters [type="checkbox"]:checked+.indicator::after,
[type="radio"]:checked+.indicator::after {
  color: #eee;
  background: #eeeeee;
}

#header .primary>li:first-of-type {
  margin-left: 2em;
}

#dashboard a,
.unread,
#dashboard span,
fieldset dl,
fieldset.actions,
fieldset dl fieldset dl,
.dynamic form fieldset,
.toggled form fieldset,
.toggled form dl,
.secondary .toggled form,
.dashboard .own,
.mods li,
dl.stats dt,
.blurb .header .heading,
.blurb .header ul,
.blurb .header p.status,
fieldset.comments,
.userstuff table,
.userstuff td,
.userstuff col,
.userstuff tr,
.userstuff thead,
.userstuff tfoot,
.userstuff tbody,
.userstuff th,
.userstuff thead td,
.userstuff th a,
.userstuff th a:link {
  background: #331d3d;
}

.assignment dl.stats,
.assignment dl.stats dt,
.assignment dl.stats dd,
dl.stats,
dl.stats dt {
  background: transparent;
  color: #f7f7f7;
}

.assignment .index dt {
  margin-bottom: 5px;
}

.blurb dl.stats {
  background: #331d3d;
  margin-bottom: 5px;
}

/* dashboard and news tabs */
#dashboard {
  border: 1px solid #ba55d3 !important; /* change the color of the dashboard border here */
  padding: 0.5em 0;
  border-radius: 0.25em;
  margin-left: 10px;
  background: #331d3d;
}

/* summary blurb and work texts (default when Hiding Creator's Style) */
.userstuff p {
  color: #e6e6fa; /* change the color of the text here */
  outline: none;
}

/* datetime on blurbs, comments, and posts */
.user .datetime {
  color: #f7f7f7; /* change the font color of the date and time here */
}

/* summary and notes */
.preface blockquote {
  border: 0;
  font-size: 100%; /* change the font size of the summary and notes here */
}

p.kudos {
  background: none;
  padding: 0.5em;
}

ul.series,
ul.series li {
  color: #f7f7f7;
}

.own .header,
.inbox .actions,
.inbox .comments,
.pseud .header,
.collection .header {
  background-color: transparent;
}

.own .type {
  color: #f7f7f7;
}

.faq .example,
.guideline .example {
  border: 0px;
  background-color: #331d3d;
  border-radius: 5px;
}

.comment .icon .visitor {
  background: url(/images/imageset.png) no-repeat -1px -76px;
  padding: 0px;
  margin: 0px;
}

.skins .primary .icon,
.admin .primary .icon {
  padding: 0px;
}

.bookmark .count a {
  color: #eeeeee;
}

.announcement .userstuff {
  background: #48325a;
  border-color: #85649d;
  color: #bfa1d2;
}

.alert .userstuff {
  background: #48325a;
  border-color: #85649d;
  color: #bfa1d2;
}

.announcement .userstuff p {
  color: #9b94e2;
}

.announcement input[type="submit"],
.announcement .action {
  background: #48325a none;
  border: 1px solid #d9d073;
  color: #000000;
  font-size: 0.875em;
  padding: 0.25em 0.5em;
  border-radius: 2em;
}

input[name="preview_button"] {
  color: #201925;
  background: #ba55d3 !important;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: 0.25em;
  box-shadow: none;
}

input[name="post_button"] {
  color: #201925;
  background: #ba55d3 !important;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: 0.25em;
  box-shadow: none;
}

input[name="preview_button"]:hover {
  color: #201925 !important;
  background: #ba55d3 !important;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: 0.25em;
  box-shadow: none;
}

input[name="post_button"]:hover {
  color: #201925 !important;
  background: #ba55d3 !important;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: 0.25em;
  box-shadow: none;
}

#footer {
  background: #331d3d !important;
  color: #eeeeee;
  border-top: none !important;
}

#footer button,
#footer .heading,
#footer ul,
#footer ul.navigation a {
  color: #E6E6FA !important;
}

#footer a:hover {
  box-shadow: none;
}

/*======= warning, relationships, characters, additional tags, and series tag colors on blurbs ======= */
.warnings,
.warning .tags,
.relationships,
.relationships .tags,
.characters,
.characters .tags,
.freeforms,
.freeforms .tags .series,
.series .tags {
  color: transparent;
}

/* warning tag */
.warnings a,
.warning .tags a {
  color: #b1050a; /* change the color of the tag here */
}

/* relationship tag */
.relationships a,
.relationships .tags a {
  color: #ffd700; /* change the color of the tag here */
}

/* characters tag */
.characters a,
.characters .tags a {
  color: #528fbe; /* change the color of the tag here */
}

/* additional tag */
.freeforms a,
.freeforms .tags a {
  color: #008000; /* change the color of the tag here */
}

/* series tag */
.series a,
.series .tags a {
  color: #ba55d3; /* change the color of the tag here */
}

.event.announcement .userstuff a,
.filters .expander {
  color: #eee;
}

.kudos_error {
  background: #201925;
  border-color: #26ba9a;
  box-shadow: none;
}

.blurb ul.required-tags li span {
  border-radius: 5px;
}

.bookmark .status span,
.bookmark .status a {
  border-radius: 5px;
}

.statistics .index li:nth-of-type(2n) {
  background: transparent;
}

#comment_cancel {
  color: #eee !important;
}

.actions button {
  color: #eee;
  background: #2d1f33;
  border: transparent;
  border-bottom: transparent;
  font-weight: normal;
}

.actions button:hover,
.actions button:focus {
  color: #eee;
  background: #331d3d;
  border-top: none;
  border-left: none;
  box-shadow: none;
}

/*====================================
    STATS ICONS by ZerafinaCSS
====================================*/

/*======= setup for the stats icons =======*/

/* hide the text before the stats */
.stats dt:not(.skins .stats dt) {
  display: none;
}

.stats dd:not(.skins .stats dd)::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -0.1em;
  margin-right: 5px;
  content: "";
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center;
  filter: invert(79%) sepia(0%) saturate(14%) hue-rotate(185deg) brightness(87%) contrast(87%);
}

/*======= stats icons (images) =======*/

/* language */
.stats dd.language::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_language_black.png);
}

/* words */
.stats dd.words::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_words_black.png);
}

/* works */
.stats dd.works::before,
.stats dd:has(a[href$=works])::before /* works in collection */ {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_works_black.png);
}

/* chapters */
.stats dd.chapters::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_chapters_black.png);
}

/* comments */
.stats dd.comments::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_comments_black.png);
}

/* kudos */
.stats dd.kudos::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_kudos_black.png);
}

/* bookmarks */
.stats dd.bookmarks::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_bookmarks_black.png);
  margin-right: 2px !important;
}

/* related works (external bookmarks) */
.stats dd.inspired::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_related-works_black.png);
}

/* hits */
.stats dd.hits::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_hits_black.png);
}

/* collections */
.stats dd.collections::before,
.stats dd:has(a[href$=collections])::before /* subcollections*/ {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_collection_black.png);
}

/* date published */
.stats dd.published::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_published_black.png);
}

/* date updated/completed */
.stats dd.status::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_updated_black.png);
}

/* completion status (series) */
.series.meta.group .stats dd:nth-of-type(3)::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_complete_black.png);
}

/* subscriptions (statistics page) */
.stats dd.subscriptions::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_subscriptions_black.png);
}

/* comment threads (statistics page) */
.statistics .stats dd.comments::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_comment-threads_black.png);
}

/* fandoms */
.stats dd:has(a[href$=fandoms])::before,
.tagset .stats dd:nth-of-type(1)::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_fandoms_black.png);
}

/* collections: bookmarked items */
.collection.blurb .stats dd:has(a[href$=bookmarks])::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icons_bookmarked-items_black.png);
}

/* collections: prompts/requests */
.stats dd:has(a[href$=requests])::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_promts_black.png);
}

/* tagsets: characters */
.tagset .stats dd:nth-of-type(2)::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_characters_black.png);
}

/* tagests: relationships */
.tagset .stats dd:nth-of-type(3)::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_relationships_black.png);
}

/* tagsets: additional tags*/
.tagset .stats dd:nth-of-type(4)::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_tags-additional_black.png);
}

/* tagsets: freeform tags *//* example: https://archiveofourown.org/tag_sets/19213 */
.tagset .meta .stats dd:nth-of-type(4)::before {
  background: url(https://images.squidge.org/images/2024/05/05/stats_icon_tags-freeform_black.png);
}

/*=========================================
    STATS HOVER TEXT by ZerafinaCSS
=========================================*/

/*======= general formatting/styling stuff =======*/

/* text container (tooltip) */
.stats dd::after {
  display: none;
  position: absolute;
  z-index: 99999;
  margin: 2em 0 0 -4em;
  padding: 0.3em;
  border-radius: 0.25em;
  border: 1px solid #555;
  background: #2a2a2a;
  color: #eee;
  font-size: 0.85em;
  line-height: 1em;
  text-align: center;
  word-break: break-word; /* prevent overflow by breaking the word if necessary */
  white-space: normal;
}

/* makes text appear on hover */
.stats dd:hover::after {
  display: inline-block;
}

.statistics .stats dd:last-of-type::after,
.index .stats dd:last-of-type:has(a[href$=bookmarks])::after,
.stats dd.inspired::after,
.tagset .index .stats dd:last-of-type::after {
  right: 0;
}

/*======= hover text for individual stats =======*/

/* language */
.stats dd.language::after {
  content: "Language";
}

/* words */
.stats dd.words::after {
  content: "Words";
}

/* works */
.stats dd.works::after,
.stats dd:has(a[href$=works])::after {
  content: "Works";
}

/* chapters */
.stats dd.chapters::after {
  content: "Chapters";
}

/* comments */
.stats dd.comments::after {
  content: "Comments";
}

/* kudos */
.stats dd.kudos::after {
  content: "Kudos";
}

/* bookmarks */
.stats dd.bookmarks::after {
  content: "Bookmarks";
}

/* related works (external bookmarks) */
.stats dd.inspired::after {
  content: "Related Works";
}

/* hits */
.stats dd.hits::after {
  content: "Hits";
}

/* collections */
.stats dd.collections::after {
  content: "Collections";
}

/* date published */
.stats dd.published::after {
  content: "Published";
}

/* date updated/completed */
.stats dd.status::after {
  content: "Updated";
}

/* completion status (series) */
.series.meta.group .stats dd:nth-of-type(3)::after {
  content: "Complete";
}

/* subscriptions (statistics page) */
.stats dd.subscriptions::after {
  content: "Subscriptions";
}

/* comment threads (statistics page) */
.statistics .stats dd.comments::after {
  content: "Comment Threads";
}

/* fandoms */
.stats dd:has(a[href$=fandoms])::after,
.tagset .stats dd:nth-of-type(1)::after {
  content: "Fandoms";
}

/* tagsets: characters */
.tagset .stats dd:nth-of-type(2)::after {
  content: "Characters";
}

/* tagests: relationships */
.tagset .stats dd:nth-of-type(3)::after {
  content: "Relationships";
}

/* tagsets: additional tags*/
.tagset .stats dd:nth-of-type(4)::after {
  content: "Additional Tags";
}

/* tagsets: freeform tags */
.tagset .meta .stats dd:nth-of-type(4)::after {
  content: "Freeforms";
}

/* collections: prompts/requests */
.stats dd:has(a[href$=requests])::after {
  content: "Prompts";
}

/* collections: challenges/subcollections */
.collections-index .stats dd:has(a[href$=collections])::after {
  content: "Challenges/Subcollections";
}

/* collections: bookmarked items */
.collection.blurb .stats dd:has(a[href$=bookmarks])::after {
  content: "Bookmarked Items";
}

/*============================================================
 REPLACE THE AO3 ICONS - default color scheme by ZerafinaCSS
============================================================*/ 

ul.required-tags,
.bookmark .status span,
.blurb .icon {
  opacity: 1 !important;
}

/*========== ICONS FOR USERS, COLLECTIONS, TAGS etc. ==========*/

/* default user icon */
img[src$="/images/skins/iconsets/default/icon_user.png"] {
  box-sizing: border-box;
  content: url("https://images.squidge.org/images/2025/02/15/zerafina_icon_user-default_01.png"); /* url of new icon */
  background: #6e6e6e; /* change icon color here */
  border: 1.5px solid #ddd;
}

/* anon comment icon */
.comment .icon .anonymous {
  box-sizing: border-box;
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_anon_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #6e6e6e; /* change icon color here */
  border: 1.5px solid #00000025; /* change border width and color here */
}

/* guest comment icon */
.comment .icon .visitor {
  box-sizing: border-box;
  background: url("https://images.squidge.org/images/2025/02/15/zerafina_icon_user-visitor_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #6e6e6e; /* change icon color here */
  border: 1.5px solid #00000025; /* change border width and color here */
}

/* default collection icon */
img[src$="/images/skins/iconsets/default/icon_collection.png"] {
  box-sizing: border-box;
  content: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_collection_01.png"); /* url of new icon */
  background: linear-gradient(transparent, #ffffff50 45% 55%, transparent);
  background-color: #616c90; /* change icon color here */
  border: 1.5px solid #00000025; /* change border width and color here */
}

/* tag icons */
.tagset .primary .icon,
.tag .primary .icon,
.index .tagset .icon {
  box-sizing: border-box;
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_tag_01.png"), /* url of new icon */
    linear-gradient(transparent, #ffffff50 45% 55%, transparent); /* subtle gradient */
  background-size: cover;
  background-color: #900; /* change background color here */
  border: 1.5px solid #00000025; /* change border width and color here */
}

/* icon for unrevealed works */
.index .mystery .icon {
  box-sizing: border-box;
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_anon_01.png"),  /* url of new icon */
    linear-gradient(transparent, #ffffff50 45% 55%, transparent); /* subtle gradient */
  background-size: cover;
  background-color: #616c90; /* change background color here */
  border: 1.5px solid #ddd; /* change width and color of outer border here */
  box-shadow: inset 0 0 0 3px #fff; /* change width and color of inner border here */
}

/* admin icon => seen on news posts */
.admin .primary .icon {
  box-sizing: border-box;
  background: url("https://images.squidge.org/images/2025/02/13/zerafina_icon_admin_01.png") /* url of new icon */  no-repeat, 
    linear-gradient(#ffffff40, transparent); /*subtle gradient*/
  background-size: cover;
  background-color: #900; /* change background color here */
  border: 1.5px solid #00000099; /* change border width and color here */
}

/* default icon for skins */
.skins .primary .icon:not(:has(a .icon)),
.index .skins .icon:not(:has(a .icon)) {
  background: url("https://images.squidge.org/images/2025/02/15/zerafina_icon_skins_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #900; /* change icon color here */
  margin-left: 0px; /* change border width and color here */
  border: 0px solid #ddd;
}

/*========== CONTENT SYMBOLS ==========*/

/* sets the size of the symbols keys icons */
#symbols-key dl img,
#bookmark-symbols-key img {
  width: 0 !important;
  height: 0 !important;
  padding: 25px 0 0 25px;
}

/* borders for content symbols*/
.blurb ul.required-tags li span,
.bookmark .status span:not(.status .private),
#symbols-key dl img,
#bookmark-symbols-key img {
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px; /* change border width here */
}

/* empty symbols boxes (no rating, category or warning) */
.required-tags .rating-notrated,
.required-tags .category-none,
.required-tags .warning-no,
.status .count,
img[src$="/images/skins/iconsets/default/rating-notrated.png"],
img[src$="/images/skins/iconsets/default/category-none.png"],
img[src$="/images/skins/iconsets/default/warning-no.png"] {
  background: #fff;
  color: #ddd;
}

/*===== Rating =====*/

/* General Audiences */
.required-tags .rating-general-audience,
img[src$="/images/skins/iconsets/default/rating-general-audience.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_rating-gen_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #8bc101; /* change background color here */
  color: #0000001a; /* change border color here */
}

/* Teen And Up Audiences */
.required-tags .rating-teen,
img[src$="/images/skins/iconsets/default/rating-teen.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_rating-teen_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #f5ce00; /* change background color here */
  color: #0000001a; /* change border color here */
}

/* Mature */
.required-tags .rating-mature,
img[src$="/images/skins/iconsets/default/rating-mature.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_rating-mature_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #ef851c; /* change background color here */
  color: #0000001a; /* change border color here */
}

/* Explicit */
.required-tags .rating-explicit,
img[src$="/images/skins/iconsets/default/rating-explicit.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_rating-explicit_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #b0021f; /* change background color here */
  color: #0000001a; /* change border color here */
}

/*===== Relationships, pairings, orientations =====*/

/* F/F */
.required-tags .category-femslash,
img[src$="/images/skins/iconsets/default/category-femslash.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-ff_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #b0021f; /* change background color here */
  color: #0000001a; /* change border color here */
}

/* F/M */
.required-tags .category-het,
img[src$="/images/skins/iconsets/default/category-het.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-mf_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #910679; /* change background color here */
  color: #0000001a; /* change border color here */
}

/* General */
.required-tags .category-gen,
img[src$="/images/skins/iconsets/default/category-gen.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-gen_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #8bc101; /* change background color here */
  color: #0000001a; /* change border color here */
}

/* M/M */
.required-tags .category-slash,
img[src$="/images/skins/iconsets/default/category-slash.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-mm_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #0054d4; /* change background color here */
  color: #0000001a; /* change border color here */
}

/* Multi */
.required-tags .category-multi,
img[src$="/images/skins/iconsets/default/category-multi.png"] {
  background: conic-gradient(from 270deg, #8bc101 25%, #910679 25% 50%, #0054d4 50% 75%, #b0021f 75%);
  color: #0000001a; /* change border color here */
}

/* Other relationships */
.required-tags .category-other,
img[src$="/images/skins/iconsets/default/category-other.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-other_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #000; /* change background color here */
  color: #0000001a; /* change border color here */
}

/*===== Content warnings =====*/

/* Author chose not to warn */
.required-tags .warning-choosenotto,
img[src$="/images/skins/iconsets/default/warning-choosenotto.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_warning-choosenotto_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #ef851c;
  color: #0000001a;
}

/* Warnings apply */
.required-tags .warning-yes,
img[src$="/images/skins/iconsets/default/warning-yes.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_warning-yes_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #b0021f;
  color: #0000001a;
}

/* External work */
.required-tags .external-work,
img[src$="/images/skins/iconsets/default/warning-external-work.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_warning-external-work_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #107cb9;
  color: #0000001a;
}

/*===== Completion status =====*/

/* uncomplete/unfulfilled */
.required-tags .complete-no,
img[src$="/images/skins/iconsets/default/complete-no.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_complete-no_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #b0021f; /* change background color here */
  color: #0000001a; /* change border color here */
}

/* completed/filled */
.required-tags .complete-yes,
img[src$="/images/skins/iconsets/default/complete-yes.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_complete-yes_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #8bc101;
  color: #0000001a;
}

/*===== BOOKMARK SYMBOLS =====*/

/* Rec */
.status .rec,
img[src$="/images/skins/iconsets/default/bookmark-rec.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_bookmark-rec_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #107cb9; /* change background color here */
  color: #0000001a; /* change border color here */
}

/* Public bookmark */
.status .public,
img[src$="/images/skins/iconsets/default/bookmark-public.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_bookmark-public_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #107cb9; /* change background color here */
  color: #0000001a; /* change border color here */
}

/* Private Bookmark */
.status .private .text,
img[src$="/images/skins/iconsets/default/bookmark-private.png"] {
  font-size: inherit;
  text-indent: -9999px;
  white-space: nowrap;
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_bookmark-locked_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #000; /* change lock color here */
  color: #ddd; /* change border color here */
}

/* Hidden Bookmark */
.status .hidden,
img[src$="/images/skins/iconsets/default/bookmark-hidden.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_bookmark-locked_01.png"); /* url of new icon */
  background-size: cover;
  background-color: #b0021f; /* change lock color here */
  color: #ddd; /* change border color here */
}

/*========== RSS FEED SYMBOLS ==========*/

/* hide old rss symbol */
a.rss span {
  background: none;
}

/* setup for the new rss symbol */
.actions li a.rss {
	display: inline-flex;
  align-content: center;
	align-items: center;
	column-gap: 0.3em;
}

/* new rss symbol */
a.rss span::before {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  background-image: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_rss_01.png"); /* url of new icon */
  background-size: cover;
  border-radius: 2px;
  margin: 1px 0 0 -18px;
  background-color: #ef851c;
  box-shadow: inset 0 0 0 1px;
  color: #00000025;
}

/*========== LOCK SYMBOL for restricted works ==========*/
img[src$="/images/lockblue.png"] {
  content: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_lock_01.png");
  filter: invert(12%) sepia(100%) saturate(4991%) hue-rotate(244deg) brightness(71%) contrast(144%);
}
